<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Members Only</title>
</head>
<body>
  <header>
    <%- include ('../partials/header') %>
  </header>

  <main>
    <% if (currentUser) { %> 
      <h1>Become An Admin</h1>

      <p>Know the secret passcode? Enter it now to gain admin privileges!</p>

      <form action="/become-admin" method="POST">
        <label for="passcode">Secret Passcode</label>
        <input type="password" name="passcode" id="passcode" placeholder="Secret Passcode">

        <input type="password" name="id" id="id" value="<%= currentUser._id %>">

        <button>Submit</button>
      </form>

      <% if (typeof error !== 'undefined') { %>
        <p>Error: 
          <%= error %> 
        </p>
      <% } %>
    <% } else { %>
      <p>You must be signed in to view this page.</p>
    <% } %> 
  </main>

  <footer>
    <%- include ('../partials/footer') %>
  </footer>
</body>
</html>